<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.breach.huajinbao.mapper.audit.IAuditMapper">



    <!-- 查询待审核招标信息 -->
	<!-- 分页+查询 -->
	<sql id="auditQuery">
		<where>
			<if test="name != null and name != ''">
				and name like CONCAT('%',#{name},'%')
			</if>
			<if test="beginDate != null and beginDate != '' ">
				and create_time &gt;  #{beginDate}
			</if>
			<if test="endDate != null and endDate != '' ">
				and create_time &lt;  #{endDate}
			</if>
		</where>
	</sql>

	<select id="getAuditTenderee" resultType="map">
		select * from user_borrow_bid_apply_record where publish_id = 0
		<include refid="auditQuery" />
		limit #{page},#{count}
	</select>

	<select id="getAuditTotal" resultType="java.lang.Integer">
		select count(*) count  from user_borrow_bid_apply_record
		<include refid="auditQuery" />
	</select>


	<!--查询单个的个体详情-->
	<select id="getPerInfo"  resultType="com.breach.common.entity.ConsumerActivateVerifyRecord">

        select * from  consumer_activate_verify_record where consumer_id = #{userId} and state = 2
    </select>


	<!--查学历getEducation-->
	<select id="getEducation" resultType="java.lang.String">
        select  education_type  from consumer_education where id=#{educationId}
    </select>
	<!--查收入-->
	<select id="getIncomeRange" resultType="java.lang.String">
        select s.range from  consumer_income_range s where  s.id =#{incomeRangeId}
    </select>
	<!--现地址-->
	<select id="getCodeProvince" resultType="java.lang.String">
    SELECT s.name from region_province s  WHERE s.code_province  =#{codeProvince}
    </select>
	<select id="getCodeCity" resultType="java.lang.String">
    SELECT s.name from region_city s  WHERE s.code_city  =#{codeCity}
    </select>

	<select id="getCodeArea" resultType="java.lang.String">
    SELECT s.name from region_area s WHERE s.code_area  =#{codeArea}
    </select>
	<!--查选中的招标信息getBorrowNumber-->
	<select id="getBorrowNumber" resultType="map">
    SELECT * from  user_borrow_bid_apply_record   WHERE  borrow_number=#{borrowNumber}
    </select>
</mapper>





