<!DOCTYPE html>
<html>
<head>
	<title>employee.html</title>
	<meta charset="UTF-8"/>
	<!--  VUE -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- elementUI -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<!-- axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

<div id="app">
	<!-- 工具条  -->
	<div>

		<!--增删查-->

		姓名:
		<el-input v-model="empQuery.name" placeholder="请输入内容" clearable style="width:200px"></el-input>
		身份证:
		<el-input v-model="empQuery.description" placeholder="请输入内容" clearable style="width:200px"></el-input>
		<el-button icon="el-icon-search" @click="empSearch" circle></el-button>

	</div>
</div>


<script type="text/javascript">

</script>
</body>
</html>
