<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breach.huajinbao.mapper.verify.IVerifyMapper">
<!--
    <insert id="submitActivateVerifyRecord">
        insert into consumer_auths(username, password) values('111', '11111')
    </insert>-->
  <!--

  insert into
        consumer_activate_verify_record(
          record_number,
          consumer_id,
          name,
          code,
          bank_code,
          sex,
          age,
          province,
          city,
          area,
          is_single,
          is_have_car,
          is_have_house,
          education_id,
          income_range_id,
          address,
          contacts_relation,
          contacts_name,
          contacts_phone,
          code_province,
          code_city,
          code_area,
          id_card_front_image,
          id_card_back_image,
          employee_id,
          state,
          create_time
        )
        values(
          #{recordNumber}
          #{consumerId}
          #{name}
          #{code}
          #{bankCode}
          #{sex}
          #{age}
          #{province}
          #{city}
          #{area}
          #{isSingle}
          #{isHaveCar}
          #{isHaveHouse}
          #{educationId}
          #{incomeRangeId}
          #{address}
          #{contactsRelation}
          #{contactsName}
          #{contactsPhone}
          #{codeProvince}
          #{codeCity}
          #{codeArea}
          #{idCardFrontImage}
          #{idCardBackImage}
          #{employeeId}
          #{state}
          #{createTime}
        )

  -->

</mapper>
