<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <!--  VUE -->
    <script src="resources/lib/js/vue.js"></script>
    <!-- elementUI -->
    <link rel="stylesheet" href="resources/lib/css/index.css">
    <script src="resources/lib/js/index.js"></script>
    <!-- axios -->
    <script src="resources/lib/js/axios.js"></script>
    <!-- 个人 -->
    <link rel="stylesheet" href="resources/css/consumer/consumerCenter.css">
</head>
<body>

<div id="app">
    <div id="wrapper">
        <!-- 头部 -->
        <div id="header">
            <!-- 放入主图 用来居中 -->
            <div id="header_main">
                <!-- logo -->
                <div id="logo">
                    <img src="resources/images/logo/logo.png" height="150" width="300"/>
                </div>
                <!-- 导航菜单 -->
                <div id="nav">
                    <ul>
                        <li v-for="(item, index) in nav" :key="index">
                            <a target="_blank" :href="item.url">{{item.title}}</a>
                        </li>
                    </ul>
                </div>
                <!-- 用户信息简单展示 -->
                <div id="user">
                    <div id="userInfo" v-if="user">
                        <div class="user-info">{{userInfo.username}}</div>
                        <div id="user-topbar-info" v-if="userInfoBar">
                            <div class="user-info-header"></div>
                            <div class="user-info-middle"></div>
                            <div class="user-info-footer">
                                <div class="user-info-footer-left">
                                    <a href="javascript:;">个人中心</a>
                                </div>
                                <div class="user-info-footer-right">
                                    <a @click="logout" href="javascript:;">
                                        <span>退出登录</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            nav: [
                {title: '首页', url: 'http://www.baidu.com'},
                {title: '我要出借', url: 'http://www.huaban.com'},
                {title: '我要借款', url: 'http://www.huaban.com'},
                {title: '信息披露', url: 'http://www.huaban.com'},
                {title: '关于我们', url: 'http://www.huaban.com'}
            ],
            user: true, // 存放请求到的用户信息资料
            userInfoBar: false, // 用户信息面板 控制是否显示
            userInfo: {}, // 用户的信息
        },
        methods: {
            // 退出登录
            logout: function () {
                axios({
                    method: 'post',
                    url: 'consumer/logout'
                }).then(function (response) {
                    // 退出登录之后 清空用户信息
                    app.userInfo = {}
                    console.log('--------------------logout--------------------')
                    console.log(app.userInfo)
                    console.log('----------------------------------------------')
                    window.location.href = "index"
                })
            }
        }
    })
</script>

<script>
    window.onload = function () {
        axios({
            method: 'post',
            url: 'consumer/getUserInfoAfterLogin',
        }).then(function (response) {
            // 加载用户信息
            //
            console.log(response)
            if (response.data.user != null) {
                // 把用户的信息存入 userInfo 并且显示 顶部的个人...
                app.userInfo = response.data.user[0]
                app.userInfoBar = false
                app.user = true
                console.log('-----------------------------window.onload-----------------------------')
                console.log('!=null')
                console.log(app.userInfo)
                console.log('-----------------------------------------------------------------------')
            } else {
                // 登录失败
                app.user = false
                console.log('-----------------------------window.onload-----------------------------')
                console.log('==null')
                console.log('-----------------------------------------------------------------------')
                window.location.href = "index"
            }
        })
    }
</script>