<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实名认证</title>
    <!--  VUE -->
    <script src="resources/lib/js/vue.js"></script>
    <!-- element -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- axios -->
    <script src="resources/lib/js/axios.js"></script>
</head>
<body>
<div id="app">
    <div id="wrapper">
        <!--头-->
        <div id="header"></div>
        <!--主体-->
        <div id="middle">
            <el-upload
                    class="upload-demo"
                    drag
                    :show-file-list="false"
                    :on-success="frontImageHandleAvatarSuccess"
                    :before-upload="frontImageBeforeAvatarUpload"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                <img v-if="frontImageVisit" :src="frontImageUrl" class="avatar">
            </el-upload>
        </div>
        <!--脚-->
        <div id="foot"></div>
    </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            userInfo: {},
            frontImageVisit: false,
            frontImageUrl: '',
            backImageUrl: '',
        },
        methods: {
            frontImageHandleAvatarSuccess: function(response, file, fileList) {
                // 文件上传成功后的钩子
                app.frontImageVisit = true;
                app.frontImageUrl = URL.createObjectURL(file.raw);
            },
            frontImageBeforeAvatarUpload: function(file) {
                // 文件上传之前
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    })
</script>

<script>
    window.onload = function () {
        axios({
            method: 'post',
            url: 'consumer/getUserInfoAfterLogin',
        }).then(function (response) {
            // 页面加载后请求用户信息，判断是否已经登录
            // 如果登录则 隐藏登录按钮 显示用户
            // 如果未登录 显示登录按钮 隐藏用户
            console.log(response)
            if (response.data.user != null) {
                // 已登录
                app.userInfo = response.data.user[0]
            } else {
                // 未登录
                window.top.location.href = '/'
            }
        })
    }
</script>